# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Virtual env
venv/
env/

# VSCode or IDE
.vscode/
.idea/

# FastAPI / Static builds
/static/*.png

# Node
node_modules/
dist/
*.log

# System files
.DS_Store
